<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DigitalHomeCinemaManager.Properties.DeviceSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DigitalHomeCinemaManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
    <userSettings>
        <DigitalHomeCinemaManager.Properties.DeviceSettings>
            <setting name="Source_Path" serializeAs="String">
                <value>C:\Program Files\MPC-HC\mpc-hc64.exe</value>
            </setting>
            <setting name="Source_FullscreenDisplay" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Serial_Port" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="Serial_ReadDelay" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Serial_BaudRate" serializeAs="String">
                <value>19200</value>
            </setting>
            <setting name="Serial_Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Serial_DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Serial_StopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="MediaInfo_ApiKey" serializeAs="String">
                <value>fd76b9a425ee4250b0bb70302ccb44e3</value>
            </setting>
            <setting name="Display_CommandDelay" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Display_Host" serializeAs="String">
                <value>10.6.66.111</value>
            </setting>
            <setting name="Display_Port" serializeAs="String">
                <value>53484</value>
            </setting>
            <setting name="Display_CustomGamma" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="Display_CustomColorSpace" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="Display_CustomColorTemp" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="Processor_Host" serializeAs="String">
                <value>10.6.66.101</value>
            </setting>
            <setting name="Processor_Port" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="Processor_HideUnusedOutputs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InputSwitch_Host" serializeAs="String">
                <value>10.6.66.120</value>
            </setting>
            <setting name="InputSwitch_Port" serializeAs="String">
                <value>2210</value>
            </setting>
            <setting name="InputSwitch_CustomInputs" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
        </DigitalHomeCinemaManager.Properties.DeviceSettings>
        <DigitalHomeCinemaManager.Properties.Settings>
            <setting name="SourceDevice" serializeAs="String">
                <value>MPC Home Cinema</value>
            </setting>
            <setting name="SerialDevice" serializeAs="String">
                <value>Generic</value>
            </setting>
            <setting name="DisplayDevice" serializeAs="String">
                <value>Sony Projector</value>
            </setting>
            <setting name="MediaInfoDevice" serializeAs="String">
                <value>TMDB</value>
            </setting>
            <setting name="PrerollPath" serializeAs="String">
                <value>C:\Users\Theater\Videos\Preroll</value>
            </setting>
            <setting name="MediaPath" serializeAs="String">
                <value>C:\Users\Theater\Videos\Movies</value>
            </setting>
            <setting name="TrailerPath" serializeAs="String">
                <value>C:\Users\Theater\Videos\Trailers</value>
            </setting>
            <setting name="ProcessorDevice" serializeAs="String">
                <value>Denon AVR</value>
            </setting>
            <setting name="InputSwitchDevice" serializeAs="String">
                <value>HDFury Diva</value>
            </setting>
            <setting name="VUDeviceEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RandTrailers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrailerLimit" serializeAs="String">
                <value />
            </setting>
            <setting name="TrailerLimitEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </DigitalHomeCinemaManager.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Registry" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
